<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/yan zhao.jpg"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden"><span id="js-rotating">Hire me, Call me, Email me</span> You will not regret</h4>
  </div>
  <div class="user-content">
    <p>
      I am currently a graduate student in Northeastern University, major in Computer Science. I am familiar with Web Development, Information Retrieval, Database Management and Java based applications. My passion lies in sports, music and travelling in spare time. Feel free to contact me if you want to know more about me.
    </p>

  </div>
</div>