<div class="col s12 cat-div">
  <div class="cat-list">

    <a class="cat-chip"><div class="chip z-depth-1">Northeastern University</div></a>
    <a class="cat-chip"><div class="chip z-depth-1">Texas A & M University</div></a>
    <a class="cat-chip"><div class="chip z-depth-1">Tongji University</div></a>

  </div>
  <div class="divider"></div>
  <div class="cat-index">

    <h5 id="{{cat[0]}}">Northeastern University</h5>
    <ul class="cat-post">
 
      <a class="post-title" >
        <li>
          Master of Computer Science   GPA 3.75/4.0
        </li>
      </a>

    </ul>
    <h5 id="{{cat[0]}}">Tongji University</h5>
    <ul class="cat-post">
 
      <a class="post-title" >
        <li>
          Bachelor of Engineering  GPA: 3.5/4.0
        </li>
      </a>

    </ul>

  </div>
</div>