    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text"> {{ site.title }} </h5>
            <p class="grey-text text-lighten-4"> {{ site.description }} </p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          &#xA9; {{ "now" | date: "%Y" }} Copyright {{ site.title }}. All rights reserved. Powered by <a href="#">matjek</a>.
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
  </body>
</html>
