<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title %}
      {{ page.title | escape }}
      {% else %}
      {{ site.title | escape }}
      {% endif %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    {% for css in layout.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    {% for css in page.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml">
    {% seo title=false %}
  </head>
  <body>
    <header>
      <nav class="top-nav teal">
        <div class="nav-wrapper">
          <div class="container">
            <a class="page-title" href="{{site.baseurl}}/">{{site.title}}</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>
      </div>
      <ul id="slide-out" class="side-nav fixed">
        <li>
          <div class="userView">
            <div class="background"></div>
            <a href="{{site.github_profile}}" target="_blank"><img class="circle z-depth-2" src="{{site.baseurl}}/assets/res/user.png"></a>
            <span class="white-text name">{{site.user}}</span>
            <span class="white-text email">{{site.user_email}}</span>
            <span class="white-text" style="font-size:2em;">
              {% if site.social.github %}
              <a title="{{site.social.github}} on GitHub" href="https://github.com/{{site.social.github}}">
                <i class="fab fa-github"></i>
              </a>
              {% endif %}
              
              {% if site.social.bitbucket %}
              <a title="{{site.social.bitbucket}} on BitBucket" href="https://bitbucket.com/{{site.social.bitbucket}}">
                <i class="fab fa-bitbucket"></i>
              </a>
              {% endif %}
              
              {% if site.social.hacker_news %}
              <a title="{{site.social.hacker_news}} on Hacker News" href="https://news.ycombinator.com/user?id={{site.social.hacker_news}}">
                <i class="fab fa-hacker-news"></i>
              </a>
              {% endif %}
              
              {% if site.social.stackexchange %}
               <a title="{{site.user}} on Stack Exchange" href="https://stackexchange.com/users/{{site.social.stackexchange}}">
                 <i class="fab fa-stack-exchange"></i>
               </a>
              {% endif %}
              
              {% if site.social.stackoverflow %}
              <a title="{{site.user}} on Stack Overflow" href="http://stackoverflow.com/users/{{site.social.stackoverflow}}">
                <i class="fab fa-stack-overflow"></i>
              </a>
              {% endif %}
              
              {% if site.social.twitter %}
              <a title="{{site.social.twitter}} on Twitter" href="https://twitter.com/{{site.social.twitter}}">
                <i class="fab fa-twitter"></i>
              </a>
              {% endif %}
              
              {% if site.social.facebook %}
              <a title="{{site.user}} on Facebook" href="https://facebook.com/{{site.social.facebook}}">
                <i class="fab fa-facebook"></i>
              </a>
              {% endif %}
              
              {% if site.social.tumblr %}
              <a title="{{site.user}} on Tumblr" href="https://{{site.social.tumblr}}.tumblr.com">
                <i class="fab fa-tumblr"></i>
              </a>
              {% endif %}
              
              {% if site.social.linkedin %}
              <a title="{{site.user}} on LinkedIn" href="https://www.linkedin.com/in/{{site.social.linkedin}}">
                <i class="fab fa-linkedin"></i>
              </a>
              {% endif %}
              
              {% if site.social.gplus %}
              <a title="{{site.user}} on Google Plus" href="https://plus.google.com/{{site.social.gplus}}">
                <i class="fab fa-google-plus"></i>
              </a>
             {% endif %}
             
             {% if site.social.flickr %}
             <a title="{{site.user}} on Flickr" href="https://www.flickr.com/photos/{{site.social.flickr}}">
               <i class="fab fa-flickr"></i>
             </a>
             {% endif %}
            </span>
          </div>
        </li>
        <li><a class="waves-effect" href="{{site.baseurl}}/"><i class="material-icons">home</i>Home</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/projects"><i class="material-icons">description</i>Projects</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/categories"><i class="material-icons">sort</i>Categories</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/tags"><i class="material-icons">label</i>Tags</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/feed.xml" target="_blank"><i class="material-icons">rss_feed</i>RSS</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/about"><i class="material-icons">person</i>About</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/contact"><i class="material-icons">email</i>Contact</a></li>
      </ul>
    </header>
    <main>
