<div class="col s12 tag-div">
  <div class="tag-list">

    <a class="tag-chip" ><div class="chip z-depth-1">Web</div></a>
    <a class="tag-chip" ><div class="chip z-depth-1">Information Retrieval</div></a>
    <a class="tag-chip" ><div class="chip z-depth-1">Database</div></a>
    <a class="tag-chip" ><div class="chip z-depth-1">Cloud</div></a>
    <a class="tag-chip" ><div class="chip z-depth-1">Mobile</div></a>
    
  </div>
  <div class="divider"></div>
  <div class="tag-index">
    
    <h5 id="{{tag[0]}}">Languages</h5>
    <ul class="tag-post">
      
      <a class="post-title">
        <li>
          Java
        </li>
        <li>
          JavaScript
        </li>
        <li>
          Python
        </li>
        <li>
          C/C++
        </li>
        <li>
          HTML/CSS
        </li>
        <li>
          SQL
        </li>
        <li>
          Swift
        </li>
      </a>

    </ul>

    <h5 id="{{tag[0]}}">Framework</h5>
    <ul class="tag-post">
      
      <a class="post-title">
        <li>
          Node.js
        </li>
        <li>
          React
        </li>
        <li>
          Angular
        </li>
        <li>
          REST
        </li>
        <li>
          Spring MVC
        </li>
        <li>
          Junit
        </li>
      </a>

    </ul>


    <h5 id="{{tag[0]}}">Others</h5>
    <ul class="tag-post">
      
      <a class="post-title">
        <li>
          AWS
        </li>
        <li>
          Solr
        </li>
        <li>
          Git
        </li>
        <li>
          MySQL
        </li>
        <li>
          MongoDB
        </li>
        <li>
          Derby
        </li>
        <li>
          DynamoDB
        </li>
      </a>

    </ul>



  </div>
</div>